/*header nav ul li{
    list-style:none;
    display: inline;
    margin-right: 15px;
    text-transform: uppercase;
}

.w33{
    width: 33%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
} */

